body {
  background-color: #ffffff;
}

ul {
  padding-inline-start: 0px;
}

li {
  padding-inline-start: 0px;
}

figure {
  margin: 0px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.section_header {
  display: flex;
  justify-content:flex-start;
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-bottom: 25px;
  margin-top: 24px;
  margin-right: 93px;
}

.header_nav ul {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;

}

.header_ul a {
  text-decoration: none;
  color: black;
}
.estudio,
.portafolio {
  margin-right: 50px;
}
.contactos{
  margin-right:250px;
}



.section_header_div2 {
  display: flex;
  align-items: center;
}

.header_email {
  display: inline-flex;
  padding-left: 10px;

  text-decoration: none;
  list-style-type: none;
  color: #757575;
  margin-right: 50px;
}

.header_email:hover,
.header_email:focus {
  color: #2196f3;
  fill: #2196f3;
  border-color: #2196f3;
}

.header_email:hover .icon-sobre,
.header_email:focus .icon-sobre {
  color: #2196f3;
  fill: #2196f3;
  border-color: #2196f3;
}

.icon-sobre {
  height: 12px;
  width: 16px;
  margin-right: 10px;
  margin-top: 4px;
  fill: #757575;
}

.client-container {
  border: 1px #afb1b8;
  border-radius: 4px;
}

.header_phone {
  text-decoration: none;
  list-style-type: none;
  color: #757575;
}

.icon-phone {
  height: 16px;
  width: 10px;
  margin-right: 10px;
  margin-top: 4px;
  fill: #757575;
}



.header_ul a:hover,       
.header_ul a:focus {
  color: #2196f3;
}

.header_ul {
  list-style-type: none;
  
}

.header_phone:hover .icon-phone,
.header_phone:focus .icon-phone {
  color: #2196f3;
  fill: #2196f3;
  border-color: #2196f3;
}

.header_phone:hover,
.header_phone:focus {
  color: #2196f3;
  fill: #2196f3;
  border-color: #2196f3;
}
/* section 1 */

.section1 {
  background-image:linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.4)),
   url("../images/section_image.jpg");
    color: white;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0px;
}

.tittle1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 30px;
}

.button0 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  background-color: #2196f3;
  color: white;
  padding: 10px 32px;
}

/* section 2 */

.section2-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.section2-logo {
  height: 70px;
  width: 70px;
}

.section2 {
  margin-top: 94px;
}

.section2 h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #212121;
}

.section2 p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.section2 ul {
  display: inline-flex;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

h4 {
  margin: 0px;
}

.section2 li {
  margin-right: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.section2_parrafo {
  justify-content: center;
}

/*section 3*/

.section3 {
  margin-top: 94px;
  margin-bottom: 94px;
}

.tittle2 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}

.section3_div {
  display: flex;
  justify-content: center;
  margin-bottom: 94px;
  list-style-type: none;
}

h5 {
    margin: 27px 79px;
    color: #fff;
    text-align: center;
}
.box1 {
    background: url(../images/pc.jpg);
    width: 370px;
    height: 294px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-right: 30px;
}

.box2 {
    background: url(../images/cel.jpg);
    width: 370px;
    height: 294px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-right: 30px;
}
  
.box3 {
    background: url(../images/tablet.jpg);
    width: 370px;
    height: 294px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-right: 30px;
}
.sub-box {
   
  width: 370px;
  height: 70px;
  background: linear-gradient(rgba(47,48,58,0.8),rgba(47,48,58,0.8));
  color:white;
  text-align: center;
}


/*section 4*/

.section4 {
  height: 648px;
  padding-top: 94px;
  margin-top: 94px;
  text-align: center;
}

.tittle3 {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 94px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}

.section4 p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}

.section4_ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.section4_image .name_worker {
  margin-top: 30px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
}

.profesion {
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 0px;
  margin-right: 0px;
}

.section4_image {
 
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}
/*iconos redes sociales*/

.section4-container-icons {
  margin: 0 auto;
  height: 44px;
  width: 206px;
  fill: #757575;
 display: flex;
  justify-content: space-between;
}


.section4-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}       

.section4-container:hover,
.section4-container:focus {
  background-color: #2196f3;
  border-radius: 22px;
  border: 1px #afb1b8 solid;
}

.section4-container:hover .section4-logo,
.section4-container:focus .section4-logo {
  border-color: #fff;
  fill: #fff;
  background-color: #2196f3;
}

.section4-logo {
  height: 20px;
  width: 20px;
}

/*section5*/
.section5 {
  margin: 0 auto;
  padding-bottom: 151px;
  padding-top: 140px;
}
.section5-text {
  text-align: center;
  margin: 0px;
  padding-bottom: 44px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.section5-flex {
  display: flex;
  justify-content: space-between;
}

.section5-client-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px #afb1b8 solid;
  border-radius: 4px;
  width: 150px;
  height: 81px;
  fill: #afb1b8;
}

.section5-client-container:hover,
.section5-client-container:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.container .section5-client-container .section5-client-logo {
  height: 52px;
  width: 106px;
  fill: #afb1b8 solid;
}


 /* FOOTER */

 .footer {
  display: flex;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: flex-start;
}
.footer_div {
  display: flex;
}
.footer .logo {
  margin-top: 0px;
  margin-bottom: 9px;
}
 
address p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer_phone {
  text-decoration: none;
  list-style-type: none;
  color: #757575;
  padding-left: 0px;
}

.footer_email {
  display: inline-flex;
  text-decoration: none;
  list-style-type: none;
  color: #757575;
  padding-left: 0px;
}

.footer_phone:hover,
.footer_phone:focus {
  color: #2196f3;
  fill: #2196f3;
  border-color: #2196f3;
}

.footer_email:hover,
.footer_email:focus {
  color: #2196f3;
  fill: #2196f3;
  border-color: #2196f3;
}

/* <!--------------- footer social netwok ------------> */

.text-footer {
 
  color: #ffffff;
}
.footer-flex {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.container-footer {
  display: flex;
  align-items: center;
  justify-content: center;
             
   border-radius: 22px;
  /* border: 1px #afb1b8 solid; */
  margin-right: 10px;;
  background:linear-gradient(rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.1));
}
.social-link{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

 .container-footer .social-link:hover,
 .container-footer .social-link:focus {
  background-color: #2196f3;
  border-radius: 22px;
  border: 1px #2196f3;
  outline: none;

  } 
      
.logo-footer {  
  height: 20px; 
  width: 20px;
  fill: #ffffff;
} 
  

  
